<p>chat-page works!</p>
<script src="../../../assets/main.js"></script>
<div class="chat-container hidden" id="chat-page">
  <div class="users-list">
    <div class="users-list-container">
      <h2>Users</h2>
      <ul id="connectedUsers" >
        <div *ngFor="let i of users">
          <li class="user-item" *ngIf="i.name!=user.name" (click)="assignSelectedUser(i.name)">{{i.name}}</li>
        </div>

      </ul>
    </div>
    <div>
      <p id="connected-user-fullname">{{user.name}}</p>
      <a class="logout" href="javascript:void(0)" id="logout">Logout</a>
    </div>
  </div>

  <div class="chat-area">
    <div class="chat-area" id="chat-messages" >

      <div  *ngFor="let msg of messages">
        <app-message-details
          *ngIf="!msg.reply"
          [message]="msg.text"
          [cssClass]="'message-container-sender'"
        >
        </app-message-details>
        <app-message-details
          *ngIf="msg.reply"
          [message]="msg.text"
          [timestamp]="msg.date"
          [cssClass]="'message-container-receiver'"
        >
        </app-message-details>
      </div>
    </div>

    <form id="messageForm" name="messageForm" class="hidden">
      <div class="message-input">
          <input autocomplete="off" (keyup)="updateMessage($event)" type="text" id="message" placeholder="Type your message...">
        <button (click)="sendMessage()">Send</button>
      </div>
    </form>
  </div>
</div>

<button (click)="displayData()">click me</button>
<button (click)="displayUsers()">click me to show all users</button>

