<div class="container">
    <h2>Add New Product</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="productName">Product Name:</label>
        <input type="text" class="form-control" formControlName="productName" id="productName">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" formControlName="productDescription" id="description"></textarea>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" class="form-control" formControlName="productPrice" id="price">
      </div>
      <div class="form-group">
        <label for="category">Category:</label>
        <select class="form-control" formControlName="category" id="category">
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL:</label>
        <input type="text" class="form-control" formControlName="imageUrl" id="imageUrl">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  