<div class="competition-cards-layout">

</div>
<body>
<header class="header">
  <div class="container">
    <h1>Event Details</h1>
  </div>
</header>

<main class="main">

  <section id="event-details" class="section mt-5">

    <div class="row row-cols-auto">
      <div class="col align-content-center">
    <div class="card" data-bs-theme="dark" style="width: 40rem;length: 90rem;margin-left: 100px;">
      <br>
      <h2 style="text-align: center">{{event.name}}</h2>

        <div class="row g-0 w-auto">
          <div class="card w-100 mb-3">
            <img [src]="'assets/'+event.imageUrl" style="height: 300px; max-width: 100%;" alt="Event Image" >
            <div class="card-body">
              <div id="single_tour_feat">
                <ul class="horizontal-list"style="text-align: center">
                  <li><i ></i>{{ event.location?.toLocaleUpperCase() }}</li>
                  <li><i class="icon_set_1_icon-53"></i>{{ event.date | date:'yyyy-MM-dd' }}</li>
                  <li><i class="icon_set_1_icon-52"></i>20:00</li>
                </ul>
              </div>
              <p class="card-text">{{event.description}}</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>

          <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" (change)="onFileSelected($event)">
            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" (click)="uploadimage()">Upload</button>
            <button type="button" class="btn btn-secondary" data-href="websiteUrl"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://esprit.tn&amp;src=sdkpreparse">Facebook</a></button>

          </div>
          <br>
          <div style="margin-top: 20px">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        </div>
      </div>
    </div>
      </div>
      <div class="col w-25"style="margin-top: 5px;margin-left: 150px">
        <h2 style="text-align: center">Groups Participating</h2>
        <ul class="group-list" *ngFor="let group of groups">
          <li *ngIf="group.event?.id== event.id" style="text-align: center">{{group.name?.toLocaleUpperCase()}}</li>
        </ul>

        <form id="createGroupForm" [formGroup]="addForm"  (ngSubmit)="onAddGroup()" style="margin-top: 50px">
          <label >Group Name:</label>
          <input type="text" id="name" ngModel name="name" formControlName="name" required>

          <label for="prize">Captain:</label>
          <input type="text" id="prize" ngModel name="prize" formControlName="captain" required>
          <div>
            <label for="prize">Member 1:</label>
            <select (change)="updateId1($event)" >
              <option value="" selected disabled>Select a user</option>
              <option  *ngFor="let user of users"  [value]="user.id">{{ user.name }}</option>
            </select>
            <label for="prize">Member 2:</label>
            <select (change)="updateId2($event)" >
              <option value="" selected disabled>Select a user</option>
              <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
            </select>
            <label for="prize">Member 3:</label>
            <select  (change)="updateId3($event)">
              <option value="" selected disabled>Select a user</option>
              <option   *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
            </select>
            <label for="prize">Member 4:</label>
            <select  (change)="updateId4($event)">
              <option value="" selected disabled>Select a user</option>
              <option   *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
            </select>
          </div>
          <br>
          <button type="submit" class="btn btn-secondary btn-sm">Add Group</button>
        </form>
      </div>
      </div>


  </section>
</main>


</body>
<footer class="footer">
  <div class="container">
    <p>&copy; 2024 Event Management System</p>
  </div>
</footer>
