body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f; /* Dark mode background color */
  color: #fff; /* Text color */
  min-height: 1000vh;
  background-image: url('/assets/EventDetailsBackground.jpeg');
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.container1 {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 20px;
}



.header {
  background-color: #222; /* Darker header and footer background color */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.header h1 {
  margin: 0;
}

.main {

}

.section {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.event-info {
  background-color: #444; /* Darker event details background color */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-info .detail {
  margin-bottom: 10px;
}

.group-list {

  list-style-type: none;
  padding: 0;
}


.group-list li {
  height:6vh;
  background-color: #444;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
form {
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
  width: 39%;
  height: 550px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block; /* Display input as block-level element */
}
.events-form-container{
  margin-top: 20px;
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
select {
  /* Adjust width as needed */
  width: 200px;

  /* Add some padding for better readability */
  padding: 5px;

  /* Create a border to visually define the element */
  border: 1px solid #ccc;

  /* Improve readability with a bit of rounded corners */
  border-radius: 4px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  margin: 0;
}
. li{
  text-align: center;
}
agm-map {
  height: 200px;
  width: 450px;
}
