.login-page-container{
  width: 100vw;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33 36 37);
}
.login-form-container{
  width: 30%;
  height: 95%;
  display: flex;
  flex-direction: column;
  background-color: rgb(24 26 27);
}
.login-logo-container{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-input-container{
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-social-container{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.login-logo-layout{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  font-family: Montserrat;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.login-logo-style1{
  width: 40%;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-input-layout{
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 15px;
}
.login-input-frame{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-input{
  width: 90%;
  height: 50%;
  background-color: rgb(59 59 59);
  border: none;
  font-family: Montserrat;
  border-radius: 5px;
  padding-left: 10px;
  color: white;
}
.login-input:focus-visible{
  border-color: yellow;
}

.login-btn{
  width: 90%;
  height: 60%;
  background-color: #3f535d;
  color: white;
  border: none;
  font-family: Montserrat;
  border-radius: 5px;
  cursor: pointer;
}

.other-btns{
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: Montserrat;
}
.other-btn{
  cursor: pointer;
}
.login-social-icon{
  width: 50px;
  height: 50px;
  color: white;
}

