<div class="login-page-container">
  <div class="login-form-container">
    <div class="login-logo-container">
      <div class="login-logo-layout">

        <div class="login-logo-style2">
          Reset Password
        </div>
      </div>
    </div>
    <div class="login-input-container" >
      <form [formGroup]="formulaire"  class="login-input-layout ">
        <div class="login-input-frame">
          <input formControlName="email"   type="text" placeholder="Email" name="email" class="login-input">
        </div>
        <div class="login-input-frame">
          <input formControlName="newpassword"  type="password" placeholder="New Password" name="password" class="login-input">
        </div>
        <div class="login-input-frame">
          <button routerLink="" (click)="resetpassword(email,newpassword)" type="submit" class="login-btn">Change Password</button>
        </div>


      </form>
    </div>


  </div>
</div>
