<div class="login-page-container">
  <div class="login-form-container">
    <div class="login-logo-container">
      <div class="login-logo-layout">
        <div class="login-logo-style1">
          ESPRIT
        </div>
        <div class="login-logo-style2">
          Competitive
        </div>
      </div>
    </div>
    <div class="login-input-container">
      <div class="login-input-layout">
        <input type="text" placeholder="Username or Email" name="username" [ngModel]="username" class="login-input">
        <input type="password" placeholder="Password" name="name" [ngModel]="name" class="login-input">
        <button type="submit" class="login-btn">Login</button>
        <div class="other-btns">
          <div class="other-btn1">
            Forget
          </div>
          <div class="other-btn2">

          </div>
        </div>
      </div>
    </div>
    <div class="login-social-container">

    </div>
  </div>
</div>
