
.video-detail-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Aligns items at the top */
}
form {
  background-color: #333;
  color: #ccc;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: auto;
}

.form-container {
  flex: 1;
  padding: 20px;
}

.video-container {
  flex: 1; /* Takes up the other half */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  max-width: 100%; /* Makes video responsive */
  height: auto;
}

input, select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #222;
  border: 1px solid #555;
  color: white;
  border-radius: 4px;
}


button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Styles for the chip list container */
.mat-form-field.full-width {
  width: 100%;
  background-color: #424242;  /* Dark grey */
  padding: 10px;
  border-radius: 5px;
}

/* Styles for individual chips */
.mat-chip {
  color: #fff;
  background-color: #616161;  /* Medium dark grey for contrast */
  margin: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.mat-chip:hover {
  transform: scale(1.1);  /* Slight zoom on hover */
  background-color: #757575;  /* Lighten on hover */
}

.mat-icon {
  color: #fff;  /* White icon color for better visibility */
}

/* Styles when a chip is selected or focused */
.mat-chip.mat-standard-chip.mat-primary.mat-selected,
.mat-chip.mat-standard-chip.mat-primary:focus {
  color: #fff;
  background-color: #0d47a1;  /* A darker blue for selection */
}

/* Input styling inside the chip list */
.mat-form-field-infix {
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
}

input[placeholder="New tag..."] {
  color: #ccc;  /* Light grey text color for visibility */
  padding: 5px;
  margin-left: 5px;
}

/* Styling for the autocomplete panel */
.mat-autocomplete-panel {
  background-color: #333;
  color: #ddd;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mat-option {
  color: #fff;  /* Options text color */
  transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.mat-option:hover {
  background-color: #424242;  /* Dark hover effect for options */
}


