<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Shop Item - Start Bootstrap Template</title>

</head>
<div class=" ">
<!-- Navigation-->

<!-- Product section-->
<section class="py-5 bg-dark text-white object-fit-contain">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">

      <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
      <div class="col-md-6">
        <div class="small mb-1"> {{ contest.name }}</div>
        <h1 class="display-5 fw-bolder">Contest Speciality: {{ contest.option?.name }}</h1>

          <p>Vote deadline: {{contest.deadline}}</p>
        <span>Contest Grade: {{contest.niveau}}</span>
        <p class="lead">{{contest.description}}</p>
        <div class="d-flex">
          <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
          <button class="btn btn-outline-dark flex-shrink-0" type="button">
            <i class="bi-cart-fill me-1"></i>
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-dark object-fit-contain text-white">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Related products</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" *ngFor="let projects of projectList"  [routerLink]="['/show-project-details',projects.id]">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center ">
              <!-- Product name-->
              <h4  > <span class="fw-bold">Project Name :</span>  {{projects.name}}  <i class="fa fa-trophy blue-icon"></i></h4>
              <h4 class="">
                <span class="fw-bold">Group Coach</span>
                {{projects.coach}}  <i class="fa fa-medal blue-icon"></i>
              </h4>
              <!-- Product price-->
              <h4 class="">
                <span class="fw-bold">Speciality</span>
                {{projects.optionSpeciality?.name}}  <i class="fa fa-terminal blue-icon"></i>
              </h4>
              <h4 class="">
                <span class="fw-bold">Category</span>
                {{projects.category?.name}}  <i class="fa fa-code blue-icon"></i>
              </h4>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="fa fa-circle-up  w-50 link-success" href="#"> vote up </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
</div>
</html>
