<div class="competition-section1 bg-dark">
  <div class="competition-cards-layout">

  </div>
  <div class="competition-cards-container">
    <app-competitions-card
      var1="ahla"
    ></app-competitions-card>

    <app-competitions-card
      var1="WEEEEE"
    ></app-competitions-card>

  </div>
</div>
<div class="competition-lists-container bg-dark">
  <div class="competition-lists-layout">
    <div class="competition-lists rounded-5">
      <div class="competition-container">
        <img class="competition-img" src="https://leetcode.com/_next/static/images/weekly-default-553ede7bcc8e1b4a44c28a9e4a32068c.png" alt="" srcset="">
        <div class="competition-text">
          <span>Esm Lcompetition</span>
          <p>May 5, 2024 3:30 AM GMT+1</p>
        </div>
      </div>
      <div class="competition-container">
        <img class="competition-img" src="https://leetcode.com/_next/static/images/weekly-default-553ede7bcc8e1b4a44c28a9e4a32068c.png" alt="" srcset="">
        <div class="competition-text">
          <span>Esm Lcompetition</span>
          <p>May 5, 2024 3:30 AM GMT+1</p>
        </div>
      </div>
      <div class="competition-container">
        <img class="competition-img" src="https://leetcode.com/_next/static/images/weekly-default-553ede7bcc8e1b4a44c28a9e4a32068c.png" alt="" srcset="">
        <div class="competition-text">
          <span>Esm Lcompetition</span>
          <p>May 5, 2024 3:30 AM GMT+1</p>
        </div>
      </div>
      <div class="competition-container">
        <img class="competition-img" src="https://leetcode.com/_next/static/images/weekly-default-553ede7bcc8e1b4a44c28a9e4a32068c.png" alt="" srcset="">
        <div class="competition-text">
          <span>Esm Lcompetition</span>
          <p>May 5, 2024 3:30 AM GMT+1</p>
        </div>
      </div>
      <div class="competition-container">
        <img class="competition-img" src="https://leetcode.com/_next/static/images/weekly-default-553ede7bcc8e1b4a44c28a9e4a32068c.png" alt="" srcset="">
        <div class="competition-text">
          <span>Esm Lcompetition</span>
          <p>May 5, 2024 3:30 AM GMT+1</p>
        </div>
      </div>
      <div class="competition-container">
        <img class="competition-img" src="https://leetcode.com/_next/static/images/weekly-default-553ede7bcc8e1b4a44c28a9e4a32068c.png" alt="" srcset="">
        <div class="competition-text">
          <span>Esm Lcompetition</span>
          <p>May 5, 2024 3:30 AM GMT+1</p>
        </div>
      </div>
    </div>
    <div class="leaderboard">
      <h1>
        <svg class="ico-cup">
          <use xlink:href="#cup"></use>
        </svg>
        Most active Players
      </h1>
      <ol>
        <li>
          <mark>Jerry Wood</mark>
          <small>315</small>
        </li>
        <li>
          <mark>Brandon Barnes</mark>
          <small>301</small>
        </li>
        <li>
          <mark>Raymond Knight</mark>
          <small>292</small>
        </li>
        <li>
          <mark>Trevor McCormick</mark>
          <small>245</small>
        </li>
        <li>
          <mark>Andrew Fox</mark>
          <small>203</small>
        </li>
      </ol>
    </div>
  </div>
</div>
